<nav #pagesnavbar class="navbar navbar-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ><img src="../../../assets/img/logo_vice.png" alt="MDPEP" height="150px"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" >
                        <img src="../../../assets/img/logo_ritex.png" alt="senavex" height="70px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
