
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://produccion.gob.bo/" target="_blank">
                        <img src="../../../assets/img/logo_vice.png" style="width: 50px;" alt="Ministerio de Desarrollo Productivo y Economía Plural"> Ministerio de Desarrollo Productivo y Economía Plural
                    </a>
                </li>

            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{ '2020' }} <a href="/dashboard">RITEX</a>
        </p>
    </div>
</footer>
